<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <div th:insert="kituc-index::head"></div>

</head>
<body>

<div th:insert="kituc-index::body"></div>

<!-- body danh sach bang user-->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="showcase">
    </div>
    <h1 class="w3-text-red-mix">Danh Sách Phòng</h1>
    <div class="search" style="margin-left: 20%; margin-right: 20%">
        <input class="form-control" id="myInput" type="text"
               placeholder="Search..">
    </div>
    <br>
    <button type="" class="w3-text-red-mix btn btn-primary" style="margin-left: 80%;">
        <a th:href="add-room" style="color: white;">Thêm mới</a>
    </button>
    <div class="table">
        <table class="table table-hover"
               style="background-color: #FAFAFA; margin: 30px; width: auto; text-align: center; ">
            <thead>
            <tr>
                <th>ID</th>
                <th>Number Room</th>
                <th>Type Room</th>
                <th>Price</th>
                <th>Max People</th>
                <th>Number People Current</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="myTable" th:each="Room: ${listRoom}">
            <tr>
                <td th:text="${Room.id}"></td>
                <td th:text="${Room.number_room}"></td>
                <td th:text="${Room.type_room}"></td>
                <td th:text="${#numbers.formatInteger(Room.price,3,'POINT')}+' vnđ'"></td>
                <td th:text="${Room.max_people}"></td>
                <td th:text="${Room.numberpcurrent}"></td>
                <td colspan="2" align="center">
                    <button>
                        <a th:href="'infoRoom/'+${Room.id}" >Xem
                            chi tiết</a>
                    </button>
                    <button>
                        <a th:href="'pageUpdateRoom/'+${Room.id}" >Sửa</a>
                    </button>
                    <button>
                        <a th:href="'deleteRoom/'+${Room.id}"
                           onclick="return confirm('Are you sure you want to delete')">Xóa</a>
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<script>
    $(document)
        .ready(
            function () {
                $("#myInput")
                    .on(
                        "keyup",
                        function () {
                            var value = $(this).val()
                                .toLowerCase();
                            $("#myTable tr")
                                .filter(
                                    function () {
                                        $(this)
                                            .toggle(
                                                $(
                                                    this)
                                                    .text()
                                                    .toLowerCase()
                                                    .indexOf(
                                                        value) > -1)
                                    });
                        });
            });
</script>
</body>
</html>